<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Domain.Data.Properties.Settings.Domain_SysConnectionString"
				connectionString="Data Source=123-PC\SQL2012;Initial Catalog=Domain_Sys;Persist Security Info=True;User ID=sa;Password=sasa"
				providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>