<h1 class="page-title">	系统配置-搜索引擎</h1>

<div class="widget">
	<div class="widget-body">
		<div class="static-info" *ngIf="rows.length>0">
			<div class="pull-right row">
				<button class="btn btn-info mr-2" (click)="confirm()" role="button"> 确认配置 </button>
			</div>
			<ul class="row col-md-12 list-unstyled" *ngFor="let item of rows; let idx=index">
				<li class="form-check col-md-4">
					<div class="form-check abc-checkbox" (click)="checkSearchEngine(idx, $event);">
						<input class="form-check-input" [checked]="item?.checked" type="checkbox" id="{{idx}}" value="{{item.id}}" role="checkbox">
						<label class="form-check-label" for="idx"><strong>{{item.name}}</strong></label>
					</div>
				</li>
				<li class="col-md-4" *ngIf="item?.checked">
					<div class="input-group">
						<input class="form-check-input" id="table-search-input" [(ngModel)]="item.startKey" placeholder="请输入前关键词"
							   type="text">
					</div>
				</li>
				<li class="col-md-4" *ngIf="item?.checked">
					<div class="input-group">
						<input class="form-check-input" id="table-search-input" [(ngModel)]="item.endKey" placeholder="请输入后关键词"
							   type="text">
					</div>
				</li>
			</ul>
			<!--<div class="clearfix">asdgfasgfasdvfgawsd</div>
	<br />-->
			<br />
		</div>
	</div>
</div>
