<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<body>
	<div class="row static-info" *ngIf="rows.length>0">
		<ul class="row col-md-12" *ngFor="let item of rows; let idx=index">
			<li class="form-check col-md-4">
				<div class="form-check abc-checkbox" (click)="checkSearchEngine(idx, $event);">
					<input class="form-check-input" [checked]="item?.checked" type="checkbox" id="{{idx}}" value="{{item.id}}" role="checkbox">
					<label class="form-check-label" for="idx">{{item.name}}</label>
				</div>
			</li>
		</ul>
	</div>


</body>
</html> 